[Unit]
Description=monitor-env MiniPC (Fastify + edge agent)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/monitor-env-be
Environment=NODE_ENV=production
ExecStart=/usr/bin/node --import ./src/load-env.js src/app.js
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
